<div id="footer">
  <div class="container">
    <div class="row">
      <ul class="list-inline">
        <li><a href="#">rss</a></li>
        <li><a href="https://github.com/evercam/Cambase">github</a></li>
        <li><a href="#">twitter</a></li>
      </ul>
    </div>
    <div class="row">
      <ul class="list-inline">
        <li><a href="/api-docs">API</a></li>
        <li><a href="/about-cambase">About Cambase</a></li>
        <li><a href="/about-evercam">About Evercam</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/cookie-policy">Cookie Policy</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
