<div id="signin-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">Sign Up or Log In</h4>
      </div>
      <div class="modal-body clearfix">
        <div class="singin-text text-center">Already have an account?</div>
        <%= link_to image_tag('modal_sign_in.png'), 'https://api.evercam.io/oauth2/authorize?client_id=3d0e289b&amp;scope=user:view:all&amp;response_type=code&amp;redirect_uri=http://localhost:3000/users/auth', class: 'sign_in text-center' %>
        <div class="singin-text text-center">- or -</div>
        <%= link_to image_tag('modal_sign_up.png'), 'https://dashboard.evercam.io/signup', class: 'sign_in text-center' %>
      </div>
    </div>
  </div>
</div>
