<div class="sidebar col-sm-3">
  <%= render 'shared/sidebar' %>
</div>
<div class="col-sm-9">
  <div class="row" id="masonry-container">
    <% @data.each_with_index do |data, index| %>
    <div class="tile tile-small tile-image col-sm-2">
      <div class="tile-content">
        <%= link_to_camera_url(image_tag(@images[index].file.url), data) %>
      </div>
    </div>
    <% end %>

  </div>
</div>
