<% content_for :title do %>
  Vendor Listing
<% end %>

<div class="col-md-12">
  <div id="vendorstable" class="table-responsive">
    <table class="table table-vendors" style="width:100%">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Vendor</th>
          <th>Models</th>
          <th>Recorders</th>
        </tr>
      </thead>
      <tbody>
        <% @vendors.each do |vendor| %>
        <tr>
          <td style="width:20%"><%= link_to image_tag(vendor.image.file.url(:small)), "vendors/#{vendor.vendor_slug.downcase}" if vendor.image %></td>
          <td><%= link_to vendor.name, "vendors/#{vendor.vendor_slug.downcase}" %></td>
          <td style="width:10%"><%= link_to vendor.models.size, "/vendors/#{vendor.vendor_slug.downcase}/models" %></td>
          <td style="width:10%"><%= link_to vendor.recorders.size, "/vendors/#{vendor.vendor_slug.downcase}/recorders" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var table = $('.table-vendors').DataTable({
      "iDisplayLength": 50
    });
    $('.dataTables_filter input').attr("placeholder", "Vendor Name");

    $('.dataTables_length').prepend("<button id='show-hide' style='float:left' title='Hide images'>«</button>");

    $('#show-hide').on('click', function (e) {
      e.preventDefault();
      var column = table.column(0);
      column.visible( ! column.visible() );
      if(column.visible()) {
        $(this).text("«");
        $(this).attr("title","Hide logos");
      }
      else
      {
        $(this).text("»");
        $(this).attr("title","Show logos");
      }
    });
  });
</script>