//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
//= require swagger-ui
//= require_self
//= require editable/bootstrap-editable

$border-radius-base: 0;
$lightgreen: #b8c7c2;
$mediumgreen: #98ada6;
$darkgreen: #647d75;
$offwhite: #f5f5f5;
$grayborder: #eaeaea;
$input-border-focus: $darkgreen;

@import "compass";
@import "compass/typography/text/replacement";
@import "compass/utilities/sprites/sprite-img";
@import "compass/utilities/sprites";
// @import "icons/*.png";
// @include all-icons-sprites;
// $icons: sprite-map('icons/*.png');

@import "bootstrap";
@import "base";
@import "header";
@import "sidebar";
@import "main";
@import "footer";
@import "camera_show";
@import "camera_index";
@import "search";
@import "modals";
@import "settings";