.module{
  background: #fff;
}

.module-header{
  background: #98ada6;
  color: #fff;
  text-align: center;
  h4{
    font-size: 14px;
    padding: 8px 0;
    margin: 0;
  }
}

.module-body{
  padding: 10px;
  & > img{
    width: 100%;
    height: auto;
  }
}

.module-images{
  margin-bottom: 10px;
  .module-body{
    padding: 0;
  }
  li{
    a{
      width: 100%;
      height: 100%;
      display: block;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.module-documents{
  a{
    display: block;
    clear: both;
    line-height: 2.2;
    span{
      float: left;
    }
  }
}

.module-table{
  .module-body{
    padding: 0;
  }
  .table-striped > tbody > tr:nth-child(2n+1) > td{
    background-color: #eeeeee;
  }
  td{
    width: 50%;
    border: none;
    word-wrap: break-word;
    max-width: 100px;
    &:first-child{
      text-align: right;
    }
    &.editable{
      background-image: asset-url("icons/edit.png");
      background-repeat: no-repeat;
      background-position: right center;
      cursor: pointer;
    }
  }
  .editable-container.editable-inline{
    padding-top: 3px;
    padding-left: 5px;
    border-top: 1px solid #dddddd;
    width: 100%;
    .editable-buttons{
      padding-top: 3px;
    }
    .editable-submit{
        background-color: $darkgreen;
        border-color: $darkgreen;
    }
  }
  .shapes{
    td, select{
      text-transform: capitalize;
    }
  }
}


