.module{
  background: #fff;
}

.module-header{
  background: #98ada6;
  color: #fff;
  text-align: center;
  h4{
    font-size: 14px;
    padding: 8px 0;
    margin: 0;
  }
}

.module-body{
  padding: 10px;
  & > img{
    width: 100%;
    height: auto;
  }
}

.module-images{
  margin-bottom: 10px;
  .module-body{
    padding: 0;
  }
  li{
    display: inline;
  }
}

.module-table{
  .module-body{
    padding: 0;
  }
  .table-striped > tbody > tr:nth-child(2n+1) > td{
    background-color: #eeeeee;
  }
  td{
    width: 50%;
    border: none;
    &:first-child{
      text-align: right;
    }
  }
}

.module-tips{
  .module-body{

  }
}
