#masonry-container{
  margin: 0 -5px;
  *{
    // padding: 0 !important;
    // margin: 0 !important;
  }
}

.tile{
  -moz-box-sizing:border-box !important;
  margin-bottom: 10px;
  // padding: 0;
  .tile-content{
    background: #fff;
    padding: 10px;
  }
}

.tile-small .tile-content{
  height: 136px;
}

.tile-big .tile-content{
  height: 282px;
}
