.main{
  padding-bottom: 20px;
}

#masonry-container{
  margin: 0 -5px;
}

.tile{
  -moz-box-sizing:border-box !important;
  margin-bottom: 10px;
  .tile-content{
    background: #fff;
    padding: 10px;
    img{
      width: 100%;
      height: auto;
    }
  }
}

.tile-small .tile-content{
  height: 136px;
}

.tile-big .tile-content{
  height: 282px;
}
