.modal-header {
  padding: 10px;
  border-bottom: none;
  min-height: 16.428571429px;
  background: $darkgreen;
  h4{
    font-size: 14px;
    color: #fff;
  }
}

.modal-body{
  h3{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 22px;
    color: $darkgreen;
  }
  h4{
    font-style: italic;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 20px;
    a{
      color: $darkgreen;
    }
  }
  .col-md-6{
    padding-bottom: 50px;
    min-height: 280px;
  }
  input{
    width: 100%;
    background: $offwhite;
    border: none;
    padding: 10px;
    font-style: italic;
    color: $darkgreen;
  }
  .modal-button{
    text-transform: lowercase;
    background: $darkgreen;
    color: #fff;
    font-style: normal;
    width: 50%;
    position: absolute;
    bottom: 0;
    &.absolute-right{
      right: 5px;
    }
    &.absolute-left{
      left: 5px;
    }
  }
  .forgot-password{
    font-style: italic;
    color: $lightgreen;
    text-decoration: underline;
    padding: 10px;
    display: block;
  }
  #camera_shape{
    text-transform: capitalize;
  }
  select{
    width: 100%;
  }
  button.close{
    background-color: transparent;
    color: $darkgreen;
    float: right;
    font-size: 14px;
    font-style: normal;
    margin-top: 49px;
    opacity: 1;
    padding: 10px;
    text-decoration: underline;
    text-shadow: none;
    text-transform: lowercase;
    width: 50%;
  }
}

#add-manufacturer-modal,
#add-camera-modal{
  input[type=submit]{
    float: left;
  }
}

#add-camera-modal{
  .col-md-6:last-child{
    min-height: 715px;
  }
  .features{
    display: block;
    width: 100%;
    float: none;
    padding-top: 75px;
    p{
      text-align: left;
    }
    span{
      display: inline-block;
      float: none;
      margin: 0 5px;
    }
  }
}

#add-manufacturer-modal{
  .col-md-6:last-child{
    padding-top: 109px;
    min-height: 300px;
  }
  input[type=submit]{
    margin: 56px 0 16px;
  }
}

#manufacturer_image_attributes_file{
  // visibility: hidden;
}

