<div class="col-md-12">
  <div class="table-responsive">
    <table class="table table-list table-manufacturers">
      <thead>
        <tr>
          <th>Manufacturer</th>
          <th>Logo</th>
          <th>#</th>
        </tr>
      </thead>

      <tbody>
        <% @manufacturers.each do |manufacturer| %>
        <tr>
          <td><%= link_to manufacturer.name, manufacturer %></td>
          <td><%= image_tag(manufacturer.image.file.url(:small)) if manufacturer.image %></td>
          <td><%= manufacturer.cameras.size %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @manufacturers %>
  </div>
</div>
